{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" >
{% endblock %}

{% block content %}    
<h1>SignUp</h1>
<form action="/validate" method="POST">
    <table>
	<tr>
		<td>
			<label>Username: 
				<input type="text" name="user" placeholder="3-20 characters" value="{{name}}" /> 
			</label>
		</td>
		<td>
			<span class="error">{{invalid_user_error}}</span>
		</td>
	</tr>
	<tr>
		<td>
			<label>Password: 
				<input type="password" name="password" placeholder="3-20 characters" />
			</label>
		</td>
		<td>
			<span class="error">{{invalid_password_error}}</span>
		</td>
	</tr>
	<tr>
		<td>
			<label>Confirm Password: 
				<input type="password" name="password2" placeholder="3-20 characters, must match password" />
			</label>
		</td>
		<td>
			<span class="error">{{passwords_dont_match_error}}</span>
		</td>
	</tr>
	<tr>
		<td>
	<label>Email (Optional): 
		<input type="text" name="email" placeholder="johndoe@email.com" value="{{email}}" />
	</label>
		</td>
		<td>
	<span class="error">{{invalid_email_error}}</span>
		</td>
	</tr>
    </table>
	<input type="submit" value="SignUp" />
</form>
{% endblock %}